td {
    padding-left: 200px;
}

body{
    background-color: #2E2E2E !important;
}

h5 ,h6, p {
    color: white !important;
}

img {
    border-radius: 50px;
    margin-top: 30px;
}

.custbtn {
    border-radius: 20px;
}

.card {
    background-color: #2E2E2E !important;
    padding: 20px;
    margin: 20px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}